<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <p>
        <a href="/">Home</a>&nbsp;&frasl;&nbsp;
        <a href="/about">About</a>&nbsp;&frasl;&nbsp;
        <a href="/items">Items</a>
    </p>
    <h2>About</h2>
    <div class='contact'>
        <p>First name: {{ first_name }}</p>
        <p>Middle name: {{ middle_name }}</p>
        <p>Last name: {{ last_name }}</p>
        <p>Phone: {{ phone }}</p>
        <p>Email: {{ email }}</p>
    </div>
</body>
</html>