<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
</head>
<body>
    <p>
        <a href="/">Home</a>&nbsp;&frasl;&nbsp;
        <a href="/items">Items</a>&nbsp;&frasl;&nbsp;
        <a href="/about">About</a>
    </p>
    <h2>Product information:</h2>
    <ul>
        <li>Name: {{ name }}</li>
        <li>Quantity: {{ quantity }}</li>
    </ul>
    <a href='/items'>Back to product list</a>
</body>
</html>